@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<div class="form-group">
        <select asp-for="Input.Name" name="Input.Name" id="Name" required="required" style="width: 100%">
            @foreach (var item in roles)
            {
                <option value="@item.Name">@Html.DisplayFor(modelItem => item.Name)</option>
            }
        </select>
        @Html.HiddenFor(m => m.Input.Name, new { id = "Name" })
        <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <select asp-for="Input.Name" class="form-control" asp-items='new SelectList(roles,"Id","Name")'></select>
                @*@Html.HiddenFor(m => m.Input.Name, new { id = "Name" })*@
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
